.work-text {
    border-top: 1px solid #dee2e6;
}
.profile{
	text-align:center
}
.indent {
  text-indent: 1rem;
}

.card-body2 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  font-size: 0.8rem;
}

.profile-name {
    margin-bottom: 0.2rem;
}

.profile-text {
    margin-bottom: 0.2rem;
    text-align:left;
}

.profile-img {
    margin: 10px auto;
}

.novel-cover {
	height: 200px;
    display: block;
    margin: 10px auto;
}

.novel-header {
	height: 126px;
    width: 300px;
    display: block;
    margin: 10px auto;
    margin-top: 47px;
    margin-bottom: 47px;
}

.cover-img {
	height: 300px;
    display: table;
    width: 100%;
    background-size: cover;
}
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 300px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 300px;
	}
}

@media only screen and (max-width: 479px) {
	.cover-img {
		height: 100px;
		margin-top: 10%;
	}
}
.cover-text {
	display: table-cell;
	vertical-align: middle;
  	text-align: center;
  	color: #fff;
}
.bg-unclear {
    height: 100px;
  	background-color: rgba( 0, 0, 0, 0.55 );
}

.novel {
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}

.twitter-tweet {
    display: block;
    margin: 10px auto;
}

.youtube-movie {
    display: block;
    margin: 10px auto;
}
