.work-text {
    border-top: 1px solid #dee2e6;
}
.profile{
	text-align:center
}
.indent {
  text-indent: 1rem;
}

.novel-cover {
	height: 300px;
    width: 213px;
    display: block;
    margin: 10px auto;
}

.cover-img {
	height: 300px;
    display: table;
    width: 100%;
    background-size: cover;
}
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 300px;
	}
}

@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 300px;
	}
}

@media only screen and (max-width: 479px) {
	.cover-img {
		height: 100px;
		margin-top: 10%;
	}
}
.cover-text {
	display: table-cell;
	vertical-align: middle;
  	text-align: center;
  	color: #fff;
}
.bg-unclear {
    height: 100px;
  	background-color: rgba( 0, 0, 0, 0.55 );
}

.novel {
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}

.twitter-tweet {
    display: block;
    margin: 10px auto;
}

.youtube-movie {
    display: block;
    margin: 10px auto;
}
